.header {
    background: var(--main-color);
    padding: 6px 0;
}

.header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.header__logo {
    /* 375px < width < 1920px */
    width: clamp(142px, 8.253rem + 2.65vw, 183px);
}

.header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

@media (width <= 1200px) {
    .header__left {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 40px;
        -ms-flex-item-align: center;
            -ms-grid-row-align: center;
            align-self: center;
        z-index: var(--layer-3);
    }

    .header__menu {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        background: var(--main-color);
        padding: 90px 90px 15px 50px;
        -webkit-transform: translateX(-100%);
            -ms-transform: translateX(-100%);
                transform: translateX(-100%);
        -webkit-transition: all var(--transition-time);
        transition: all var(--transition-time);
        z-index: var(--layer-2);
        overflow-y: auto;
        visibility: hidden;
        opacity: 0;
    }

    .header__menu--open {
        -webkit-transform: translateX(0%);
            -ms-transform: translateX(0%);
                transform: translateX(0%);
        visibility: visible;
        opacity: 1;
    }

    .header__list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
    }
}

.header__item {
    font-family: NAMU-Pro;
}

.header__link {
    font-size: 20px;
    color: var(--bg-color-2);
    -webkit-transition: all var(--transition-time);
    transition: all var(--transition-time);
}

.header__cart {
    color: var(--bg-color-1);
    z-index: var(--layer-3);
}

@media (width <= 968px) {
    .header__cart svg {
        width: 31px;
        height: 31px;
    }
}

@media (width <= 590px) {
    .header__cart svg {
        width: 24px;
        height: 24px;
    }
}

@media (any-hover: hover) {
    .header__cart:hover {
        color: var(--accent-color);
    }

    .header__link:hover {
        color: var(--accent-color);
    }
}
.header__cart-icon {
    stroke: currentColor;
    -webkit-transition: all var(--transition-time);
    transition: all var(--transition-time);
}