* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: start;
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 30px;
    font-family: sans-serif;
    width: 100%;
    max-width: 400px;
}

.legend {
    font-weight: 00;
    font-size: 22px;
    margin-bottom: 20px;
}

.label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: 600;
}

.input {
    border: 1px solid black;
    border-radius: 4px;
    padding: 5px 10px;
    margin-bottom: 15px;
    width: 100%;
}

.input:not(#checkbox):focus-visible,
.btn:focus-visible,
#checkbox:focus-visible::before {
    outline: 2px solid #31c39c92;
    outline-offset: 2px;
}

.btn:not(:disabled):active {
    background-color: rgba(253, 247, 69, 0.581);
    color: black;
}

.btn:disabled,
.input:disabled {
    background-color: rgba(11, 117, 209, 0.341);
    cursor: not-allowed !important;
}

.textarea {
    resize: vertical;
    max-height: 250px;
    min-height: 60px;
}

.checkbox-label {
    padding-left: 22px;
}

#checkbox {
    cursor: pointer;
    appearance: none;
    width: auto;
    border: none;
    padding: 0;
}

#checkbox::before {
    content: "";
    background: url("../imgs/check.svg") no-repeat center;
    border: 1px solid black;
    border-radius: 4px;
    width: 16px;
    height: 16px;
    position: absolute;
    margin-left: -22px;
}

#checkbox:checked::before {
    background-color: #000000;
}

.btn {
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s;
    border: 1px solid #000000;
}

.btn:not(:disabled):hover {
    background: #000000;
    color: #f0f0f0;
}