.page {
    /* container */
    --container-width: 1360px;
    --container-padding: 20px;

    /* colors */
    --main-bg: #ececec;
    --main-color: #111;
    --hero-bg-color: #ddd;
    --text-color: #000;
    --bg-color-1: #f8f8f8;
    --bg-color-2: #fff;
    --accent-color: #c5358c;
    --glow-color: #0000000d;
    --disabled-color: #ababab;
    --date-color: #909090;
    --in-stock-color: #68ae5c;

    /* transition time */
    --transition-time: .3s;

    /* layers */
    --layer-negative: -1;
    --layer-0: 0;
    --layer-1: 1;
    --layer-2: 2;
    --layer-3: 3;
    
}