* {
    box-sizing: border-box;
}

body {
    min-width: 375px;
    margin: 0;
}

.container {
    max-width: 1280px;
    padding: 0 15px;
    margin: 0 auto;
    width: 100%;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    height: 100vh;
}

.header {
    background-color: red;
    grid-column: 12 span;
    min-height: 80px;
}

.aside {
    background-color: yellow;
}

.main {
    background-color: green;
    grid-column: 11 span;
    padding: 20px 0;
    display: flex;
    align-items: center;
}

.main .container {
    display: grid;
    grid-template-columns: repeat(4, minmax(100px, 1fr));
    gap: 20px;
    justify-content: center;
}

.article {
    height: 200px;
    background-color: orange;
    grid-column: 1 span;
}

.footer {
    background-color: blue;
    grid-column: 12 span;
    min-height: 80px;
}

@media (width <= 1280px) {
    .aside {
        grid-column: 2 span;
    }

    .main {
        grid-column: 10 span;
    }
}

@media (width <= 768px) {
    .aside {
        display: none;
    }

    .main {
        grid-column: 12 span;
    }
}

@media (width <= 500px) {
    .main .container {
        grid-template-columns: repeat(1, minmax(100px, 1fr));
    }
}
