*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: ubuntu;
    color: #535755;
}

body {
    min-width: 375px;
}

.global__wrapper {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.main {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
}

.container {
    max-width: 1250px;
    padding: 0 15px;
    margin: 0 auto;
}

img {
    max-width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
}

.title-large,
.title-medium {
    font-family: Oswald, sans-serif;
    font-weight: 600;
    line-height: 115%;
    text-transform: uppercase;
    color: #2c332f;
    margin-bottom: 40px;
    text-align: left;
    max-width: 596px;
}

.title-large {
    font-size: 48px;
}

.title-medium {
    font-size: 36px;
}
.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #535755;
}

.button {
    display: inline-block;
    text-decoration: none;
    padding: 17px 30px;
    background: #3596ed;
    border: none;
    font-weight: 500;
    font-size: 15px;
    line-height: 130%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border: 2px solid #3596ed;
}

.button:hover {
    background-color: #fff;
    color: #3596ed;
}

.button:not(:disabled):active {
    border-color: #2c332f;
    color: #2c332f;
}

a,
button {
    outline: none;
}

button:focus-visible,
a:focus-visible,
summary:focus-visible {
    outline: 2px solid #3596ed;
    outline-offset: 2px;
}

.text-sub {
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #858e8a;
}

.title-large {
    font-size: 48px;
}

@media (width <= 992px) {
    .container {
        max-width: 768px;
    }
}

@media (width <= 768px) {
    .container {
        max-width: 576px;
    }
}

.decor::before {
    content: "";
    background-image: url("../imgs/icons/decor.svg");
    height: 48px;
    position: absolute;
    z-index: -1;
    width: calc(50% - 250px);
}
