.about__text {
    font-weight: 300;
    font-size: 12px;
    line-height: 140%;
}

@media (width > 968px) {
    .about {
        display: none;
    }
}

@media (width <= 968px) {
    .about {
        display: block;
    }

    .about__title.title-lg {
        margin-bottom: 20px;
    }

    .about__title.title-md {
        margin-bottom: 16px;
    }

    .about__title.title-sm {
        margin-bottom: 14px;
    }

    .about__title.title-xs {
        margin-bottom: 12px;
    }

    .about__title.title-xxs {
        margin-bottom: 10px;
    }

    .about__text {
        color: var(--text-color);
    }

    .about__text:not(:last-child) {
        margin-bottom: 40px;
    }
}

@media (width <= 590px) {
    .about__title.title-lg {
        margin-bottom: 14px;
    }

    .about__title.title-md {
        margin-bottom: 12px;
    }

    .about__title.title-sm,
    .about__title.title-xs {
        margin-bottom: 10px;
    }

    .about__title.title-xxs {
        margin-bottom: 8px;
    }

    .about__text {
        color: var(--main-color);
    }

    .about__text:not(:last-child) {
        margin-bottom: 30px;
    }
}