.benefits {
    background: var(--bg-color-2);
}

@media (width > 968px) {
    .benefits__title {
        margin-bottom: 60px;
    }
}
@media (width <= 968px) {
    .benefits__title {
        margin-bottom: 40px;
    }
}
@media (width <= 590px) {
    .benefits__title {
        margin-bottom: 30px;
    }
}

.benefits__grid {
    display: -ms-grid;
    display: grid;
    gap: 20px;
}

@media (width > 968px) {
    .benefits__grid {
        grid-template-columns: repeat(auto-fit, minmax(440px, 1fr));
    }
}
@media (width <= 968px) {
    .benefits__grid {
        grid-template-columns: repeat(auto-fit, minmax(304px, 1fr));
    }
}
@media (width <= 590px) {
    .benefits__grid {
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        gap: 10px;
    }
}

.benefits__article {
    -webkit-box-shadow: 0 4px 41px 0 var(--glow-color);
            box-shadow: 0 4px 41px 0 var(--glow-color);
    background: var(----bg-color-2);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
}

.benefits__article svg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

@media (width > 968px) {
    .benefits__article {
        padding-block: 26px 46px;
    }

    .benefits__article svg {
        margin-bottom: 15px;
    }
}
@media (width <= 968px) {
    .benefits__article {
        padding-block: 18px 30px;
    }

    .benefits__article svg {
        margin-bottom: 11px;
        width: 54px;
        height: auto;
    }
}
@media (width <= 590px) {
    .benefits__article {
        padding: 16px 33px 26px;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        gap: 43px;
    }

    .benefits__article svg {
        margin-bottom: 0px;
    }
}

.benefits__article-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

@media (width > 968px) {
    .benefits__article-text {
        gap: 13px;
    }
}

@media (width <= 968px) {
    .benefits__article-text {
        gap: 8px;
    }
}

.benefits__article-title {
    font-family: NAMU-Pro;
    font-weight: 900;
    text-align: center;
    color: var(--text-color);
}

.benefits__article-desc {
    font-weight: 300;
    line-height: 130%;
    text-align: center;
    color: var(--text-color);
}

@media (width > 968px) {
    .benefits__article-title {
        font-size: 20px;
    }

    .benefits__article-desc {
        font-size: 18px;
    }
}

@media (width <= 968px) {
    .benefits__article-title {
        font-size: 14px;
    }

    .benefits__article-desc {
        font-size: 12px;
    }
}

@media (width <= 590px) {
    .benefits__article-title {
        font-size: 13px;
        text-align: start;
    }

    .benefits__article-desc {
        text-align: start;
    }
}