.footer {
    background-color: var(--main-color);
}

@media (width > 968px) {
    .footer {
        padding-block: 50px 57px;
    }
}

@media (width <=968px) {
    .footer {
        padding-block: 20px 30px;
    }
}

@media (width <=590px) {
    .footer {
        padding-block: 16px 20px;
    }
}

@media (width > 590px) {
    .footer__main {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        gap: 20px;
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end;
    }
}

@media (width <=968px) {
    .footer__main {
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
    }
}

@media (width <=590px) {
    .footer__main {
        display: -ms-grid;
        display: grid;
        -webkit-column-gap: 40px;
           -moz-column-gap: 40px;
                column-gap: 40px;
        -ms-grid-columns: 1fr 40px 1fr;
        grid-template-columns: repeat(2, 1fr);
        -ms-grid-rows: (1fr)[1];
        grid-template-rows: repeat(1, 1fr);
    }
    .footer__main > *:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    .footer__main > *:nth-child(2) {
        -ms-grid-row: 1;
        -ms-grid-column: 3;
    }
}

.footer__col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start
}

.col--margin {
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

@media (width > 968px) {
    .footer__logo {
        width: 183px;
        height: 77px;
        margin-bottom: 25px;
    }

    .footer__col {
        max-width: 270px;
    }

    .col--margin {
        margin-top: 45px;
    }
}

@media (width <=968px) {
    .footer__logo {
        width: 73px;
        height: 31px;
        margin-bottom: 10px;
    }

    .footer__col {
        max-width: 150px;
    }

    .col--margin {
        margin-top: 0px;
    }
}

@media (width <=590px) {
    .footer__logo {
        width: 110px;
        height: 46px;
        margin-bottom: 6px;
    }

    .footer__col {
        max-width: 100%
    }

    .col--margin {
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
        grid-column: 1/3;

    }

}

.footer__title {
    font-family: NAMU-Pro;
    font-weight: 900;
    color: var(--bg-color-2);
}

.about__link {
    -webkit-transition: all var(--transition-time);
    transition: all var(--transition-time);
}

@media (any-hover: hover) {
    .about__link:hover {
        color: var(--accent-color);
    }
}

@media (width > 968px) {
    .footer__title {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .about__link {
        margin-bottom: 30px;
    }

}

@media (width <=968px) {
    .footer__title {
        font-size: 14px;
        margin-bottom: 6px;
    }

    .about__link {
        margin-bottom: 10px !important;
    }

}

@media (width <=590px) {
    .footer__title {
        font-size: 12px;
        margin-bottom: 4px;
    }

}

.footer__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

@media (width > 968px) {
    .footer__list {
        gap: 6px;
    }
}

@media (width <=968px) {
    .footer__list {
        gap: 2px;
    }
}

@media (width <=590px) {
    .footer__list {
        gap: 1px;
    }
}

.footer__link {
    font-weight: 300;
    font-size: 18px;
    color: var(--bg-color-2);
    -webkit-transition: all var(--transition-time);
    transition: all var(--transition-time);
}

@media (any-hover: hover) {
    .footer__link:hover {
        color: var(--accent-color);
    }
}

@media (width > 968px) {
    .footer__link {
        font-size: 18px;
    }
}

@media (width <=968px) {
    .footer__link {
        font-size: 10px;
    }
}

.footer__col-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 20px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.footer__tel {
    font-family: var(--font-family);
    font-weight: 700;
    margin-bottom: 12px;
    -webkit-transition: all var(--transition-time);
    transition: all var(--transition-time);
}

@media (any-hover: hover) {
    .footer__tel:hover {
        color: var(--accent-color);
    }
}

.footer__socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.footer__socials-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--bg-color-2);
    border-radius: 50%;
    color: var(--main-color);
    -webkit-transition: all var(--transition-time);
    transition: all var(--transition-time);
}

@media (any-hover: hover) {
    .footer__socials-link:hover {
        color: var(--accent-color);
    }
}

@media (width > 968px) {
    .footer__socials {
        gap: 20px;
    }

    .footer__socials-link {
        width: 40px;
        height: 40px;
    }

    #telegram-icon {
        -webkit-transform: translateX(-2px);
            -ms-transform: translateX(-2px);
                transform: translateX(-2px);
    }
}

@media (width <=968px) {
    .footer__socials {
        gap: 10px;
    }

    .footer__socials-link {
        width: 21px;
        height: 21px;
    }

    .footer__socials-link svg {
        width: 12px;
        height: 9px;
    }

    #telegram-icon {
        -webkit-transform: translateX(0px);
            -ms-transform: translateX(0px);
                transform: translateX(0px);
    }
}

@media (width <=590px) {
    .footer__socials {
        gap: 8px;
    }

    .footer__socials-link {
        width: 18px;
        height: 18px;
    }

    .footer__socials-link svg {
        width: 12px;
        height: 9px;
    }

    .footer__col-top {
        margin-bottom: 17px;
        gap: 40px;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: start;
    }

    .footer__col-top .footer__col {
        width: 50%;
    }

    .footer__promotions {
        margin-top: 16px;
    }
}

.footer__col-copyright {
    -ms-flex-item-align: end;
        align-self: flex-end;
    font-weight: 300;
    line-height: 150%;
    color: var(--bg-color-2);
}

@media (width >968px) {
    .footer__col-copyright {
        font-size: 18px;
    }
}

@media (width <=968px) {
    .footer__col-copyright {
        font-size: 10px;
        max-width: 300px;
    }
}

@media (width <=590px) {
    .footer__col-copyright {
        font-size: 10px;
        max-width: 100%;
        -ms-flex-item-align: auto;
            -ms-grid-row-align: auto;
            align-self: auto;
    }
}