.footer {
    background-color: var(--main-color);
}

@media (width > 968px) {
    .footer {
        padding-block: 50px 57px;
    }
}

@media (width <=968px) {
    .footer {
        padding-block: 20px 30px;
    }
}

@media (width <=590px) {
    .footer {
        padding-block: 16px 20px;
    }
}

@media (width > 590px) {
    .footer__main {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        align-items: flex-end;
    }
}

@media (width <=968px) {
    .footer__main {
        align-items: flex-start;
    }
}

@media (width <=590px) {
    .footer__main {
        display: grid;
        column-gap: 40px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }
}

.footer__col {
    display: flex;
    flex-direction: column;
    align-items: flex-start
}

.col--margin {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (width > 968px) {
    .footer__logo {
        width: 183px;
        height: 77px;
        margin-bottom: 25px;
    }

    .footer__col {
        max-width: 270px;
    }

    .col--margin {
        margin-top: 45px;
    }
}

@media (width <=968px) {
    .footer__logo {
        width: 73px;
        height: 31px;
        margin-bottom: 10px;
    }

    .footer__col {
        max-width: 150px;
    }

    .col--margin {
        margin-top: 0px;
    }
}

@media (width <=590px) {
    .footer__logo {
        width: 110px;
        height: 46px;
        margin-bottom: 6px;
    }

    .footer__col {
        max-width: 100%
    }

    .col--margin {
        grid-column: 1/3;

    }

}

.footer__title {
    font-family: NAMU-Pro;
    font-weight: 900;
    color: var(--bg-color-2);
}

.about__link {
    transition: all var(--transition-time);
}

@media (any-hover: hover) {
    .about__link:hover {
        color: var(--accent-color);
    }
}

@media (width > 968px) {
    .footer__title {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .about__link {
        margin-bottom: 30px;
    }

}

@media (width <=968px) {
    .footer__title {
        font-size: 14px;
        margin-bottom: 6px;
    }

    .about__link {
        margin-bottom: 10px !important;
    }

}

@media (width <=590px) {
    .footer__title {
        font-size: 12px;
        margin-bottom: 4px;
    }

}

.footer__list {
    display: flex;
    flex-direction: column;
}

@media (width > 968px) {
    .footer__list {
        gap: 6px;
    }
}

@media (width <=968px) {
    .footer__list {
        gap: 2px;
    }
}

@media (width <=590px) {
    .footer__list {
        gap: 1px;
    }
}

.footer__link {
    font-weight: 300;
    font-size: 18px;
    color: var(--bg-color-2);
    transition: all var(--transition-time);
}

@media (any-hover: hover) {
    .footer__link:hover {
        color: var(--accent-color);
    }
}

@media (width > 968px) {
    .footer__link {
        font-size: 18px;
    }
}

@media (width <=968px) {
    .footer__link {
        font-size: 10px;
    }
}

.footer__col-top {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
}

.footer__tel {
    font-family: var(--font-family);
    font-weight: 700;
    margin-bottom: 12px;
    transition: all var(--transition-time);
}

@media (any-hover: hover) {
    .footer__tel:hover {
        color: var(--accent-color);
    }
}

.footer__socials {
    display: flex;
}

.footer__socials-link {
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--bg-color-2);
    border-radius: 50%;
    color: var(--main-color);
    transition: all var(--transition-time);
}

@media (any-hover: hover) {
    .footer__socials-link:hover {
        color: var(--accent-color);
    }
}

@media (width > 968px) {
    .footer__socials {
        gap: 20px;
    }

    .footer__socials-link {
        width: 40px;
        height: 40px;
    }

    #telegram-icon {
        transform: translateX(-2px);
    }
}

@media (width <=968px) {
    .footer__socials {
        gap: 10px;
    }

    .footer__socials-link {
        width: 21px;
        height: 21px;
    }

    .footer__socials-link svg {
        width: 12px;
        height: 9px;
    }

    #telegram-icon {
        transform: translateX(0px);
    }
}

@media (width <=590px) {
    .footer__socials {
        gap: 8px;
    }

    .footer__socials-link {
        width: 18px;
        height: 18px;
    }

    .footer__socials-link svg {
        width: 12px;
        height: 9px;
    }

    .footer__col-top {
        margin-bottom: 17px;
        gap: 40px;
        justify-content: start;
    }

    .footer__col-top .footer__col {
        width: 50%;
    }

    .footer__promotions {
        margin-top: 16px;
    }
}

.footer__col-copyright {
    align-self: flex-end;
    font-weight: 300;
    line-height: 150%;
    color: var(--bg-color-2);
}

@media (width >968px) {
    .footer__col-copyright {
        font-size: 18px;
    }
}

@media (width <=968px) {
    .footer__col-copyright {
        font-size: 10px;
        max-width: 300px;
    }
}

@media (width <=590px) {
    .footer__col-copyright {
        font-size: 10px;
        max-width: 100%;
        align-self: auto;
    }
}