.form__container {
    display: flex;
    justify-content: space-between;
}

.form__title {
    font-family: NAMU-Pro;
    font-weight: 900;
    color: var(--main-color);
}

@media (width > 968px) {
    .form__container {
        gap: 40px;
    }

    .form__wrapper {
        max-width: 49%;
    }


    .form__title {
        font-size: 42px;
        margin-bottom: 50px;
    }
}

@media (width <=968px) {
    .form__container {
        gap: 20px;
    }


    .form__wrapper {
        max-width: 49%;
    }

    .form__title {
        font-size: 20px;
        margin-bottom: 20px;
    }
}

@media (width <=590px) {
    .form__container {
        flex-direction: column;
        gap: 36px;
    }


    .form__wrapper {
        max-width: 100%;
    }

}

.form__input {
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--main-color);
    background: transparent;
}

.form__input:focus-visible {
    border: none;
    border-bottom: 1px solid var(--main-color);
}

.form__input::placeholder {
    font-weight: 400;
    color: var(--disabled-color);
}

@media (width > 968px) {
    .form__input {
        padding-bottom: 15px;
    }

    .form__input::placeholder {
        font-size: 18px;
    }

    .contact-us__input {
        margin-bottom: 30px;
    }

    .contact-us__input:nth-child(3),
    .subscribe__input {
        margin-bottom: 70px;
    }

    .form__btn {
        padding: 16px 43px;
    }

    .subscribe__btn {
        margin-bottom: 35px;
    }
}

@media (width <=968px) {
    .form__input {
        padding-bottom: 7px;
    }

    .form__input::placeholder {
        font-size: 12px;
    }

    .contact-us__input {
        margin-bottom: 20px;
    }

    .contact-us__input:nth-child(3),
    .subscribe__input {
        margin-bottom: 40px;
    }

    .form__btn {
        padding: 7px 26px;
    }

    .subscribe__btn {
        margin-bottom: 27px;
    }
}

@media (width <=590px) {
    .contact-us__input {
        margin-bottom: 14px;
    }

    .contact-us__input:nth-child(3) .subscribe__input {
        margin-bottom: 36px;
    }

    .form__btn {
        padding: 8px 25px;
    }
}

.subscribe__checkbox-text {
    display: flex;
    font-weight: 400;
    line-height: 120%;
    color: var(--text-color);
}

.subscribe__checkbox {
    appearance: none;
    border: 1px solid var(--main-color);
    border-radius: 3px;
    flex-shrink: 0;
    display: flex;
    transition: background-image var(--transition-time);
    position: relative;
    cursor: pointer;
}

.subscribe__checkbox::after {
    content: "";
    background: url("../../imgs/icons/check.svg") no-repeat;
    display: block;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all var(--transition-time);
}

.subscribe__checkbox:checked::after {
    opacity: 1;
    visibility: visible;
}

@media (width > 968px) {
    .subscribe__checkbox-text {
        font-size: 16px;
        gap: 16px;
    }

    .subscribe__checkbox {
        width: 30px;
        height: 30px;
    }

    .subscribe__checkbox::after {
        width: 17px;
        height: 11px;
    }
}

@media (width <=968px) {
    .subscribe__checkbox-text {
        font-size: 10px;
        gap: 10px;
    }

    .subscribe__checkbox {
        width: 19px;
        height: 19px;
    }

    .subscribe__checkbox::after {
        width: 11px;
        height: 7px;
        background-size: contain;
    }
}

@media (width <=590px) {
    .subscribe__checkbox-text {
        font-weight: 300;
    }
}