.hero {
    background-color: var(--hero-bg-color);
}

.hero__container {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
}

.hero__title {
    font-family: NAMU-Pro;
    font-weight: 900;
    line-height: 103%;
    color: var(----main-color);
    margin-bottom: 40px;
}

@media (width > 968) {
    .hero__title {
        font-size: 46px;
        line-height: 103%;
        margin-bottom: 40px;
    }
}

@media (width <= 968px) {
    .hero__container {
        justify-content: end;
        position: relative;
    }

    .hero__left {
        position: absolute;
        left: 0;
        max-width: 363px;
    }

    .hero__title {
        font-size: 30px;
        margin-bottom: 20px;
    }
}

@media (width <= 590px) {
    .hero__container {
        flex-direction: column;
        padding-block: 50px 180px;
        gap: 0;
    }

    .hero__left {
        position: relative;
        z-index: var(--layer-1);
    }

    .hero__title {
        font-size: 24px;
        margin-bottom: 16px;
    }

    .hero__text {
        max-width: 170px;
    }
}

.hero__text {
    font-weight: 400;
    font-size: 26px;
    line-height: 130%;
    color: var(----main-color);
    margin-bottom: 90px;
}

@media (width > 968) {
    .hero__text {
        font-size: 26px;
        line-height: 130%;
        margin-bottom: 90px;
    }
}
@media (width <= 968px) {
    .hero__text {
        font-size: 12px;
        margin-bottom: 40px;
    }
}
@media (width <= 590px) {
    .hero__text {
        margin-bottom: 30px;
    }
}

.hero__img {
    max-width: 50%;
    display: flex;
}

@media (width <= 590px) {
    .hero__img {
        width: 280px;
        height: 274px;
        max-width: 100%;
        z-index: var(--layer-0);
        position: absolute;
        bottom: 0;
        right: 0;
        flex-shrink: 0;
    }

    .hero__img img {
        height: 100%;
        object-fit: cover;
        object-position: top;
    }
}
